
<div>
    <%= task.label :question, style: "display: block" %>
    <%= task.text_area :question, cols: 80, rows: 7 %>
</div> 
<div>
    <%= task.label :flag, style: "display: block" %>
    <%= task.text_field :flag, size: 80 %>
</div>